body 
{
font-family:'lucida-console','monospace';
background-color:#000000
}

h2
{
display:inline
}

p,h1,h2 
{
color:#00FF00
}

a:visited
{
color:#00FF00
}

div.appdesc{
position:absolute;
width:350;
border-style:dashed;
border-width:1px;
border-color:#00FF00
}

div.appdesc>img
{
float:right
}


