body 
{
font-family:'lucida-console','monospace';
background-color:#000000;
color:#00FF00
}

table
{
color:#000000;
background-color:#AAAAAA;
}

thead
{
background-color:#888888;
}

a:visited
{
color:#0000FF
}

div
{
border-style:dashed;
border-width:1px;
border-color:#00FF00
}

div.appdesc{
position:absolute;
width:350;
}

div.appdesc>img
{
float:right
}


