body 
	{
	background-image:url("newbackground.png");
	text-align:center;
	}

div.rctbox
	{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	}

div.content
	{
	padding:2px;
	height:150px;
	}

div.content > div.inset
	{
	display:inline-block;
	vertical-align:top;
	margin:3px;
	position:relative;
	}

.yellow div.content > div
	{
	border-color:#A76F07;
	}

div.rideitem 
	{
	width:500px;
	height:132px;
	padding:4px;
	position:relative;
	}

div.rideitem img 
	{
	float:right
	}


div.content > div.buttons
	{
	display:block;
	}


div.buttons > div
	{
	display:inline-block;
	vertical-align:middle;
	padding:3px;
	border-style:outset;
	}

a {
text-decoration:none
}

/*Make close button a clickable link - thanks to Trigger_Death for this*/
a.close
	{
	width: 13px;
	height: 14px;
	position: relative;
	float: right;
	}
